<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="subtext.yuvallovenotes">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".YuvalLoveNotesApp"
        android:allowBackup="true"
        android:icon="@mipmap/lovers_logo"
        android:roundIcon="@mipmap/lovers_logo_round"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_app_display_name"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>